*{
    font-family: Roboto;
   
}
body{
    background-image: linear-gradient(to right, #fdbb2d , #22c1c3 , #833ab4, #fd1d1d);
    align-content: center;
  }
.imageClass {
    display: flex;
    padding-top: 0.3%;
    padding-left: 0.3%;
}
.containerBox{
    height: 50%;
    width: 60%;
    margin-left: 18%;
    margin-top: 3%;
    padding: 2% 2%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

header {
    font-size: 1.9rem;
    font-weight: 300;
    text-align: center;
    font-display: rgb(255, 255, 255);
    margin-bottom: 5%;

}

.attribute{
    justify-content: center;
    margin-bottom: 3%;
}

.attributeInput{
    margin-bottom: 1.5%;
    width: 30%;
    padding : 1% 1%;
    border-radius: 10px;
    border: none;
    margin-left: 33.5%;
    
}

.buttonClass{
    justify-content: center;
    margin-left: 42%;
    margin-bottom: 1%;
    border-radius: 10px;
    border: none;
    width: 15%;
    padding: 1.5% 0.5%;
    background-color: #43c3ff;
}

.buttonClass2{
    justify-content: center;
    margin-left: 37%;
    border-radius: 10px;
    border: none;
    width: 25%;
    padding: 1.5% 0.5%;
}


p{
    text-align: center;
    font-weight: 250;
    font-size: 0.9rem;
}

a{
    color: #9a6818;
    font-weight: 350;
}

.material-symbols-outlined{
    margin-left: 33.5%;
    color: grey;
}

